<div class="white-text text-center align-content-center">
    <h1>No deseches reutiliza</h1>
    <h3>Piensa en todo lo que puedes llegar a crear y ayudar al medio ambiente.</h3>

    <input type="button" class="btn btn-info" value="Registrar" onclick="location.href='@Url.Action("Create","UsuarioCRUD")'" />
    @*<form action="/" method="post" class="text-center form-personalizado">
            <input type="text" name="nombre" placeholder="Nombre" />
            <br />
            <input type="text" name="apellido" placeholder="Apellido" />
            <br />
            <input type="email" name="email" placeholder="E-Mail" />
            <br />
            <input type="text" name="ciudad" placeholder="Ciudad" />
            <br />
            <input type="text" name="telefono" placeholder="Número de telefono" />
        </form>*@
</div>

